
{% include 'manager/manager_header.html' %}
<link rel="stylesheet" href="/static/css/dashboard.css">

<div id="layoutSidenav_content">
<main>
    <div class="dashboard-container">
        <header class="dashboard-header">
            <h1>DASHBOARD</h1>
        </header>
        <div class="dashboard-summary">
            <div class="card">
                <h2>Total Sales Amount</h2>
                <p>${{ total_sales_amount }}</p>
            </div>
            <div class="card">
                <h2>Total Orders</h2>
                <p>{{ total_orders_count }}</p>
            </div>
            <div class="card">
                <h2>Quantity Sold</h2>
                <p>{{ quantity_sold }}</p>
            </div>
        </div>
        <section class="charts-section">
            <div class="chart-container">
                <canvas id="totalSalesData"></canvas>
            </div>
            <div class="chart-container">
                <canvas id="salesByItemChart"></canvas>
            </div>
            <div class="chart-container">
                <canvas id="monthlySalesChart"></canvas>
            </div>
            <div class="chart-container">
                <canvas id="topSellingItemsChart"></canvas>
            </div>
            <div class="chart-container">
                <canvas id="salesDistributionChart"></canvas>
            </div>
            <div class="chart-container">
                <canvas id="dailyPerformanceChart"></canvas>
            </div>
        </section>
    </div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Chart 2: Monthly Sales
        const totalSalesDataChartCtx = document.getElementById("totalSalesData").getContext("2d");
        new Chart(totalSalesDataChartCtx, {
            type: "bar",
            data: {
                labels: {{total_sales_by_super ['labels'] | tojson }},
                datasets: [{
                    label: "Monthly Sales",
                    data: {{ total_sales_by_super ['values'] | tojson }},
                    backgroundColor: "rgba(75, 192, 192, 0.6)",
                    borderColor: "rgba(75, 192, 192, 1)",
                    borderWidth: 1
                }]
            }
        });
    
    });

    document.addEventListener("DOMContentLoaded", function () {
        // Chart 1: Sales by Item
        const salesByItemCtx = document.getElementById("salesByItemChart").getContext("2d");
        new Chart(salesByItemCtx, {
            type: "bar",
            data: {
                labels: {{sales_data['labels'] | tojson }},
                datasets: [{
                    label: "Sales by Item",
                    data: {{ sales_data['values'] | tojson }},
                    backgroundColor: "rgba(75, 192, 192, 0.6)",
                    borderColor: "rgba(75, 192, 192, 1)",
                    borderWidth: 1
                }]
            }
        });
    
    });

    document.addEventListener("DOMContentLoaded", function () {
        // Chart 2: Monthly Sales
        const monthlySalesChartCtx = document.getElementById("monthlySalesChart").getContext("2d");
        new Chart(monthlySalesChartCtx, {
            type: "bar",
            data: {
                labels: {{monthly_sales_data['labels'] | tojson }},
                datasets: [{
                    label: "Monthly Sales",
                    data: {{ monthly_sales_data['values'] | tojson }},
                    backgroundColor: "rgba(75, 192, 192, 0.6)",
                    borderColor: "rgba(75, 192, 192, 1)",
                    borderWidth: 1
                }]
            }
        });
    
    });

</script> 
</main>

{% include 'admin/admin_footer.html' %}
</div>
