{% if role == 'Admin' %}
    {% include 'admin/admin_header.html' %}
{% elif role == 'Manager' %}
    {% include 'manager_header.html' %}
{% else %}
    {% include 'sd_header.html' %}
{% endif %}

<div id="layoutSidenav_content">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <main>
        <!-- Add Doctor Form Content Here -->
        <div class="sd-container">
            <h2 class="sd-form">Add Super Distributor</h2>
            <form action="{{ url_for('super_distributor.add_super_distributor') }}" method="post" class="sd-form">
                <div class="sd-row">
                    <input name="name" type="text" placeholder="Full Name*" required>
                </div>
                <div class="sd-row">
                    <input name="email" type="email" placeholder="Email*" required>
                </div>
                <div class="sd-row">
                    <input name="mobile_number" type="text" placeholder="Mobile*" required>
                </div>
                <div class="sd-row">
                    <input name="password" type="password" placeholder="Password*" required>
                    <input type="password" placeholder="Re-Enter Password*" required>
                </div>
                <br>
                {% if role=='Manager' %}
                <div class="sd-row">
                    
                    <input type="text"  placeholder="{{user_name}}" name="username" hidden>
                    
                </div>
                {% else %}
                <div class="sd-row">
                    <label for="manager">Select Manager:</label>
                    <select name="manager" id="manager" required>
                        <option value="">-- Select Manager --</option>
                        {% for manager in managers %}
                            <option value="{{ manager.id }}">{{ manager.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                {% endif %}
                <br>
                <div class="sd-buttons">
                    <button type="submit" class="sd-submit">Submit</button>
                </div>
            </form>
        </div>
    </main>

    
{% include 'sd_footer.html' %}

