{% if role == 'Admin' %}
    {% include 'admin/admin_header.html' %}
{% else %}
    {% include 'sd_header.html' %}
{% endif %}

<div id="layoutSidenav_content">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <main>
        <!-- Add Doctor Form Content Here -->
        <div class="sd-container">
            <h2 class="sd-form">Add Super Distributor</h2>
            <form action="{{ url_for('super_distributor.add_super_distributor') }}" method="post" class="sd-form">
                <div class="sd-row">
                    <input name="name" type="text" placeholder="Full Name*" required>
                </div>
                <div class="sd-row">
                    <input name="email" type="email" placeholder="Email*" required>
                </div>
                <div class="sd-row">
                    <input name="mobile_number" type="text" placeholder="Mobile*" required>
                </div>
                <div class="sd-row">
                    <input name="password" type="password" placeholder="Password*" required>
                    <input type="password" placeholder="Re-Enter Password*" required>
                </div>
                <!-- <div class="sd-row">
                    <input type="text" placeholder="Designation">
                    <select required>
                        <option value="" disabled selected>Select Department*</option>
                        <option value="cardiology">Cardiology</option>
                        <option value="neurology">Neurology</option> -->
                        <!-- Add more options as needed -->
                    <!-- </select>
                </div> -->
                <!-- <textarea class="sd-textarea" placeholder="Address"></textarea> -->
                <!-- <div class="sd-upload">
                    <label>Upload</label>
                    <input type="file">
                </div> -->
                <br>
                <div class="sd-buttons">
                    <button type="submit" class="sd-submit">Submit</button>
                </div>
            </form>
        </div>
        <!-- End of Add Doctor Form Content -->
    </main>

    
{% include 'sd_footer.html' %}

